server:
  http:
    addr: 0.0.0.0:8010
    timeout: 1s
  grpc:
    addr: 0.0.0.0:9010
    timeout: 1s
  nodeId: 1010
data:
  database:
    driver: mysql
    source: root:12345678@tcp(172.17.0.1:3306)/cloudemu_base?parseTime=True&loc=Local
  redis:
    addr: 172.17.0.1:6379
    read_timeout: 0.2s
    write_timeout: 0.2s
  mongodb:
    host: 172.17.0.1:27017
auth:
  secret: abcd1234ddde123
registry:
  scheme: consul
  serverIp: 172.17.0.1
  port: 8500
  username: helloworld
  password: helloworld
  namespaceId: public
smtp:
  addr: smtp.qq.com:465
  userName: YourEmail
  password: YourEmailAuth
  host: smtp.qq.com
  from: cloudemu <YourEmail>